@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    font-family: "Manrope", sans-serif;
}

@media screen and (max-width: 425px) {
    body {
        background: grey;
        margin: 2rem;
        max-width: 90vw;
    }
    .main {
        background: white;
        border-radius: 9px;
        overflow: hidden;
    }
    .header__image {
        max-width: 90vw;
    }
    .description {
        margin: 2rem;
    }
    .description__tittle {
        padding-bottom: 0.9rem;
        font-weight: 700;
        color: hsl(217, 19%, 35%);
        font-size: 18px;
    }
    .description__text {
        color: hsl(214, 17%, 51%);
    }
    .admin {
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: "picture name share";
        grid-template-rows: 2fr;
    }
    .admin__image {
        grid-area: picture;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .admin__picture {
        border-radius: 50%;
        width: 60%;
    }
    .admin__details {
        grid-area: name;
        display: block;
        font-size: 13px;
        margin-left: 0;
    }
    .admin__name {
        margin-bottom: 0.3rem;
        color: hsl(217, 19%, 35%);
    }
    .admin__date {
        color: hsl(214, 17%, 51%);
    }
    .admin__button {
        border-radius: 70%;
        width: 70%;
        border-style: none;
    }
}